*{
    margin: 0;
    padding: 0;
}
.box{
    padding: 0;
    height: 100%;
    background-color: #e4e4e4;
}
.box-row{
    margin: 0;
    height: 100%;
}
.header{
    width: 100%;
    height: 55px;
    line-height: 55px;
}
.header{
    padding: 0;
    margin-top: 130px;
    border-bottom: 1px solid #3c3c3c;
    border-top: 1px solid #3c3c3c;
    position: relative;
}
.warm_prompt{
    margin-left:10px;
    font-size: 20px;
    padding: 10px;
}
.do-or-no{
    font-size: 14px;
    position: absolute;
    top: 16px;
    left: 110px;
}
.contact-a{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
}
.contact-img{
    color: #333;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #2aabd2;
    background: url("../img/9.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 10px;
    top: 3px;
}
.contact{
    position: absolute;
    top: 16px;
    color: #333;
}
.arrows-left{
    font-size: 34px;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    width: 43px;
    font-size: 12px;
    text-align: center;
}
.theader{
    background-color: #333 !important;
    color: #fff;
}
.btn-success{
    width: 100%;
    position: absolute;
    bottom: 0;
}
tr td{
    text-align: center;
}
tr td:nth-of-type(1){
    background-color: #666;
    color: #fff;
    line-height: 40px !important;
}
tr td:nth-of-type(2),
tr td:nth-of-type(3),
tr td:nth-of-type(4){
    background-color: #e4e4e4;
    width: 40px;
    height: 40px !important;
    padding: 0 !important;
}
tr td:nth-of-type(2) input,
tr td:nth-of-type(3) input,
tr td:nth-of-type(4) input{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.footer{
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #0f0f0f;
    cursor: pointer;
    font-size: 36px;
    color: #fff;
    line-height: 60px;
}
.table{
    margin-bottom: 0px;
}
.btn-primary{
    background-color: #8ab7ff;
}
.btn-primary{
    margin-right: 10px;
    margin-left: 10px;
}
.btn{
   padding: 6px 50px;
}